@{
    ViewData["Title"] = "Home";
}

<style>
    .hero-section {
        background-color: #f8f9fa;
        padding: 50px 0;
        text-align: center;
    }

    .hero-section h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #600028;
        font-size: 3rem;
    }

    .hero-section p {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 20px;
    }

    .hero-section a {
        color: #6c757d;
        text-decoration: none;
    }

    .hero-section a:hover {
        color: #4b0082;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 30px;
    }

    .cta-text {
        font-size: 1.5rem;
        color: #333;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .explore-button {
        display: inline-block;
        padding: 12px 30px;
        background-color: #600028;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .explore-button:hover {
        background-color: #e7c6ff;
        color: #600028;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
</style>

<div class="hero-section">
    <h1>Bienvenido a la Biblioteca de Alejandria</h1>
    <p>Un mundo de conocimientos y historias.</p>

    <!-- Imagen alusiva a la librería -->
    <img src="/lib/assets/7931675.jpg" alt="Library Image" class="hero-image">

    <!-- Texto de llamada a la acción -->
    <p class="cta-text">Explora nuestra colección y comienza a leer ahora mismo.</p>
    <a asp-controller="Libros" asp-action="Index" class="explore-button">Explorar</a>
</div>
